/* Estilo para a lista de consumíveis */

body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

li:hover {
    background-color: #e0e0e0;
}
